<nav class="navbar">
    <div class="container">
      <!-- Logo -->
      <a href="#" class="navbar-brand">
        <img src="./assets/logo.svg" alt="Krist Logo" > 
      </a>
  
      <!-- Hamburger Menu for Mobile -->
      <div class="menu-toggle" (click)="toggleMobileMenu()">
        <span class="bar"></span>
        <span class="bar"></span>
        <span class="bar"></span>
      </div>
  
      <!-- Navbar Links -->
      <ul class="nav-links" [ngClass]="{ 'active': mobileMenuActive }">
        <li><a href="#">Home</a></li>
        <li class="dropdown" (mouseenter)="toggleDropdown(true)" (mouseleave)="toggleDropdown(false)">
          <a href="#" class="dropbtn">Shop <i class="ri-arrow-down-s-line ri-lg"></i></a>
          <div class="dropdown-content" *ngIf="dropdownActive">
            <div class="dropdown-column">
              <h4>Men</h4>
              <a href="#">T-Shirts</a>
              <a href="#">Casual Shirts</a>
              <a href="#">Formal Shirts</a>
              <a href="#">Jackets</a>
              <a href="#">Blazers & Coats</a>
              <h4>Indian & Festive Wear</h4>
              <a href="#">Kurtas & Kurta Sets</a>
              <a href="#">Sherwanis</a>
            </div>
            <div class="dropdown-column">
              <h4>Women</h4>
              <a href="#">Kurtas & Suits</a>
              <a href="#">Sarees</a>
              <a href="#">Ethnic Wear</a>
              <a href="#">Lehenga Cholis</a>
              <a href="#">Jackets</a>
              <h4>Western Wear</h4>
              <a href="#">Dresses</a>
              <a href="#">Jumpsuits</a>
            </div>
            <div class="dropdown-column">
              <h4>Footwear</h4>
              <a href="#">Flats</a>
              <a href="#">Casual Shoes</a>
              <a href="#">Heels</a>
              <a href="#">Boots</a>
              <a href="#">Sports Shoes & Floaters</a>
              <h4>Product Features</h4>
              <a href="#">360 Product Viewer</a>
              <a href="#">Product with Video</a>
            </div>
            <div class="dropdown-column">
              <h4>Kids</h4>
              <a href="#">T-Shirts</a>
              <a href="#">Shirts</a>
              <a href="#">Jeans</a>
              <a href="#">Trousers</a>
              <a href="#">Party Wear</a>
              <a href="#">Innerwear & Thermal</a>
              <a href="#">Track Pants</a>
              <a href="#">Value Pack</a>
            </div>
          </div>
        </li>
        <li><a href="#">Our Story</a></li>
        <li><a href="#">Blog</a></li>
        <li><a href="#">Contact Us</a></li>

        
        <li class="d-md-none ">
          <button type="button" class="w-50 btn btn-dark mb-3">Login</button>
        </li>
      </ul>


      <ul class="nav-links align-items-center gap-3" >
        <li>
          <i class="ri-search-2-line ri-lg"></i>
        </li>
        <li>
          <i class="ri-heart-line ri-lg"></i>
        </li>
        <li>
          <i class="ri-shopping-bag-3-line ri-lg"></i>
        </li>
        <li>
          <button type="button" class="btn btn-dark">Login</button>
        </li>
      </ul>
    </div>
  </nav>
  