<nav class="navbar">
    <div class="container">
      <!-- Logo -->
      <a routerLink="/" class="navbar-brand">
        <img src="./assets/logo.svg" alt="Krist Logo" > 
      </a>
  
      <!-- Hamburger Menu for Mobile -->
      <div class="menu-toggle" (click)="toggleMobileMenu()">
        <span class="bar"></span>
        <span class="bar"></span>
        <span class="bar"></span>
      </div>
  
      <!-- Navbar Links -->
      <ul class="nav-links" [ngClass]="{ 'active': mobileMenuActive }">
        <li><a routerLink="/">Home</a></li>
        <li class="dropdown" (mouseenter)="toggleDropdown(true)" (mouseleave)="toggleDropdown(false)">
          <a  class="dropbtn">Shop <i class="ri-arrow-down-s-line ri-lg"></i></a>
          <div class="dropdown-content" *ngIf="dropdownActive">
            <div class="dropdown-column">
              <h4>Men</h4>
              <a routerLink="/product">T-Shirts</a>
              <a routerLink="/product">Hoodies</a>
              <a routerLink="/product">Shalwar Kameez</a>
              <a routerLink="/product">Sweatshirts</a>
              <a routerLink="/product">Unstitched Fabric</a>
              
            </div>
            <div class="dropdown-column">
              <h4>Women</h4>
              <a routerLink="/product">Hoodies</a>
              <a routerLink="/product">Sweatshirts</a>
              <a routerLink="/product">T-Shirts</a>
            </div>
           
           
          </div>
        </li>
        <li><a href="#">Our Story</a></li>
        <li><a href="#">Blog</a></li>
        <li><a href="#">Contact Us</a></li>

        
        <li class="d-md-none ">
          <button type="button" class="w-50 btn btn-dark mb-3">Login</button>
        </li>
      </ul>


      <ul class="nav-links align-items-center gap-3" >
        <li>
          <i class="ri-search-2-line ri-lg"></i>
        </li>
        <li>
          <i class="ri-heart-line ri-lg"></i>
        </li>
        <li>
          <i class="ri-shopping-bag-3-line ri-lg" routerLink="/cart"></i>
        </li>
        <li>
          <button type="button" class="btn btn-dark">Login</button>
        </li>
      </ul>
    </div>
  </nav>
  