<div class="container-fluid login-container">
    <div class="row vh-100 ">
        <!-- Left Side - Logo -->
        <div class="col-md-6 col-lg-7 bg-black logo-container d-flex justify-content-center align-items-center">

            <img src="assets/logo-white.svg" alt="Logo" height="200" class="logo">


        </div>

        <!-- Right Side - Login Form -->
        <div
            class="col-md-6 col-lg-5 d-flex justify-content-md-start justify-content-center align-items-baseline align-items-md-center align-items-lg-center    ">
            <div class="form-box">
                <h2 class="fw-bold">Forgot Password</h2>
                <p class="text-muted">Enter your registered email address. we’ll send you a code to reset your password.
                </p>

                <form [formGroup]="forgetForm" (ngSubmit)="onSubmit()" *ngIf="step === 1">


                    <!-- Email -->
                    <div class="mb-3">
                        <label class="form-label">Email Address</label>
                        <input type="email" formControlName="email" class="form-control"
                            [class.is-invalid]="submitted && forgetForm.controls['email'].invalid"
                            placeholder="Enter your email">
                        <div *ngIf="submitted && forgetForm.controls['email'].invalid" class="invalid-feedback">
                            Please enter a valid email.
                        </div>
                    </div>


                    <!-- Submit Button -->
                    <button type="submit" class="btn btn-dark py-2 w-100">Send OTP</button>
                </form>

                <!-- OTP Step -->
                <form [formGroup]="otpForm" (ngSubmit)="verifyOTP()" *ngIf="step === 2" class="text-center">
                    <div class="d-flex justify-content-center gap-2 mb-3">
                        <input type="text" maxlength="1" class="otp-box" *ngFor="let box of otpBoxes; let i = index"
                            [formControlName]="'otp' + i" (input)="moveFocus($event, i)"
                            (keydown)="preventNonNumeric($event)" (keydown.backspace)="backspace($event, i)">
                    </div>

                    <button type="submit" class="btn btn-dark w-100">Verify</button>
                </form>


                <form [formGroup]="passwordForm" (ngSubmit)="submitNewPassword()" *ngIf="step === 3">
                    <!-- New Password Field -->
                    <div class="mb-3 position-relative">
                      <label class="form-label">New Password</label>
                      <input [type]="showNewPassword ? 'text' : 'password'" formControlName="newPassword" class="form-control"
                        placeholder="Enter new password">
                      <i class="ri-eye-line password-icon" (click)="togglePasswordVisibility('new')"
                        [ngClass]="{'ri-eye-line': !showNewPassword, 'ri-eye-off-line': showNewPassword}"></i>
                        
                        <div *ngIf="submitted && passwordForm.controls['newPassword'].invalid" class="invalid-feedback">
                            Password must be at least 6 characters.
                        </div>
                    </div>
                  
                    <!-- Confirm Password Field -->
                    <div class="mb-3 position-relative">
                      <label class="form-label">Confirm Password</label>
                      <input [type]="showConfirmPassword ? 'text' : 'password'" formControlName="confirmPassword" class="form-control"
                        placeholder="Confirm new password">
                      <i class="ri-eye-line password-icon" (click)="togglePasswordVisibility('confirm')"
                        [ngClass]="{'ri-eye-line': !showConfirmPassword, 'ri-eye-off-line': showConfirmPassword}"></i>
                    </div>
                  
                    <button type="submit" class="btn btn-dark w-100">Reset Password</button>
                  </form>
                  

            </div>
        </div>
    </div>
</div>

<div class="modal fade success-modal" id="successModal" tabindex="-1" aria-labelledby="successModalLabel"
    aria-hidden="true">
    <div class="modal-dialog modal-dialog-centered">
        <div class="modal-content text-center p-4">
            <div class="modal-body">
                <div class="success-icon">
                    <i class="ri-checkbox-circle-line"></i>
                </div>
                <h4 class="fw-bold mt-3">Password Changed Successfully</h4>
                <p class="text-muted">Your password has been updated successfully</p>
                <button type="button" class="btn btn-dark w-100 mt-3" (click)="redirectToLogin()"
                    data-bs-dismiss="modal">
                    Back to Login
                </button>
            </div>
        </div>
    </div>
</div>