<div class="country-selection">
    <div class="logo">
      <img src="./assets/Country.svg" alt="MJ Exclusive" width="250"> <!-- Replace with your logo -->
    </div>
    
    <div class="dropdown-container">
        <div class="custom-dropdown">
          <select [(ngModel)]="selectedCountry" required>
           
            <option value="Pakistan">Pakistan</option>
            <option value="Canada">Canada</option>
            <option value="United States">United States</option>
            <option value="Rest of the World">Rest of the World</option>
          </select>
        </div>
      </div>
      
      <button class="btn px-5 py-2 enter-btn" (click)="enterSite()" [disabled]="!selectedCountry">
        ENTER
      </button>
      
    <p *ngIf="errorMessage" class="error">{{ errorMessage }}</p>
  </div>
  