@media (max-width: 768px) {
    .address-card {
      flex-direction: column;
      text-align: center;
    }
  }
  
  .progress-bar-container {
    margin-bottom: 20px;
  }
  
  .shipping-address {
    .address-card {
      display: flex;
      align-items: center;
      border: 1px solid #ccc;
      padding: 10px;
      border-radius: 5px;
      cursor: pointer;
    }
    .selected {
      border-color: black;
      background: #f8f9fa;
    }
  }
  