<footer class="bg-dark text-white py-3 pb-md-2">
    <div class="container">
      <div class="row">
        <div class="col-md-3 mb-4">
         <img src="./assets/logo-white.svg" alt="">
          <p class="mb-1 gap-2 d-flex align-items-center footetxt">
            <i class="ri-phone-line ri-lg"></i> 
            <span>+92 333 2132430</span>
          </p>
          <p class="mb-1 gap-2 d-flex align-items-center footetxt">
            <i class="ri-mail-line ri-lg "></i> 
            <span>
              info&#64;mjexclusive.com
            </span>
          </p>
          <p class="gap-2 d-flex align-items-center footetxt">
            <i class="ri-map-pin-line ri-lg"></i> 
            <span>Toronto, Canada</span>
          </p>
        </div>
        <div class="col-md-3 mb-4 mt-md-5">
            <!-- <br class="d-md-block d-none">
            <br class="d-md-block d-none">
            <br class="d-md-block d-none"> -->
          <h5 class="mb-3">Information</h5>
          <ul class="list-unstyled">
            <li class="mb-md-3"><a routerLink="/profile" class="text-white  text-decoration-none">My Account</a></li>
            <!-- <li class="mb-md-3"><a routerLink="" class="text-white  text-decoration-none">Login</a></li> -->
            <li class="mb-md-3"><a routerLink="/cart" class="text-white  text-decoration-none">My Cart</a></li>
            <!-- <li class="mb-md-3"><a routerLink="/" class="text-white  text-decoration-none">My Wishlist</a></li> -->
            <li class="mb-md-3"><a routerLink="/checkout" class="text-white  text-decoration-none">Checkout</a></li>
          </ul>
        </div>
        <div class="col-md-3 mb-4 mt-md-5">
            <!-- <br class="d-md-block d-none">
            <br class="d-md-block d-none">
            <br class="d-md-block d-none"> -->
          <h5 class="mb-3">Service</h5>
          <ul class="list-unstyled">
            <li  class="mb-md-3"><a routerLink="/contact" class="text-white text-decoration-none">Contact Us</a></li>
            <li  class="mb-md-3"><a routerLink="/blog" class="text-white text-decoration-none">Blogs</a></li>
            <li  class="mb-md-3"><a routerLink="/our-story" class="text-white text-decoration-none">Our Story</a></li>
            
          </ul>
        </div>
        <div class="col-md-3 mb-4 mt-md-5">
            <!-- <br class="d-md-block d-none">
            <br class="d-md-block d-none">
            <br class="d-md-block d-none"> -->
          <h5 class="mb-3">Subscribe</h5>
          <p>Enter your email below to be the first to know about new collections and product launches.</p>
          <div class="email-input-container">
            <form class="d-flex align-items-center">
              <div class="input-group">
                <span class="input-group-text">
                  <i class="ri-mail-line ri-lg"></i>
                </span>
                <input type="email" class="form-control" placeholder="Your Email" />
                <button type="submit" class="btn">
                    <i class="ri-arrow-right-line ri-lg"></i>
                </button>
              </div>
            </form>
          </div>
          
        </div>
      </div>
      <div class="row justify-content-center align-items-center border-top pt-3">
        <div class="col-md-4 mb-3">
          <div>
           <img src="./assets/footer/Payment-foot-img.png" alt="">
          </div>
        </div>
        <div class="col-md-4 text-md-center">
          <p class="mb-0">&copy; {{ currentYear }} Mj. All Rights Reserved</p>
        </div>
        <div class="col-md-4">
            <div class="mt-2 text-md-end">
                <a href="#" class="text-white text-decoration-none me-3"><i class="ri-facebook-fill ri-2x "></i></a>
                <a href="#" class="text-white text-decoration-none me-3"><i class="ri-instagram-line ri-2x "></i></a>
                <a href="#" class="text-white text-decoration-none"><i class="ri-twitter-fill ri-2x"></i></a>
              </div>
        </div>
      </div>
    </div>
  </footer>
  