<div *ngIf="blog">
    <div class="position-relative  overflow-hidden ">
        <div class="container-fluid ">
            <div class="row align-items-center position-relative avh-100 align-items-center p-2 p-md-5">
                <!-- Text Section -->
                <div class="col-lg-6 col-md-12 text-center text-lg-start z-2 ">
                    <div class="py-lg-5">
                        <!-- <p class=" mb-2 heading-1">{{headersSection.heading}}</p> -->
                       
                       
                        <h1 class="fw-bold display-6 heading-2">
                            {{ blog.title }}
                        </h1>
                       
                        <!-- <button [routerLink]="['/product']" class="btn btn-dark mt-3 px-lg-5">Shop Now</button> -->
                    </div>
                </div>
    
                <!-- Image Overlay Section -->
                <div class="col-lg-5 col-md-12">
                    <div class="position-absolute top-0 start-0 w-100 h-100"
                        style="background: linear-gradient(270.02deg, rgba(255, 255, 255, 0) -22.8%, #FFFFFF 99.99%);z-index: 1;">
                    </div>
                    <!-- Desktop image (shown on tablets & desktops) -->
                    <img [src]="blog.bannerImage" [alt]="blog.title"
                        class="img-fluid position-absolute top-50 end-0 translate-middle-y desktop-image d-none d-md-block w-100" />
    
                    <!-- Mobile image (shown only on phones)
              <img src="assets/images/home-banner2.png" alt="Clothes" class="img-fluid mobile-image d-block d-md-none" /> -->
    
                </div>
            </div>
        </div>
    </div>
    




<div class="container blog-detail py-5">

    <!-- <h1 class="blog-title mb-5">{{ blog?.title }}</h1>
  
    
    <img *ngIf="blog?.bannerImage" [src]="blog.bannerImage" class="img-fluid blog-banner" alt="Blog Banner" />
  
   
    <div class="blog-content">
      <ng-container *ngFor="let section of blog?.content">
        <h2 *ngIf="section.type === 'heading1'">{{ section.text }}</h2>
        <p *ngIf="section.type === 'paragraph1'">{{ section.text }}</p>
  
       
        <ul *ngIf="section.type === 'list'">
          <li *ngFor="let item of section.items">{{ item }}</li>
        </ul>
      </ng-container>
    </div> -->


    <div  class="blog-container mb-5">
       

        <div *ngFor="let item of blog.content" class="blog-section my-3">
            <h2 *ngIf="item.type.startsWith('heading')" class="blog-heading">
                {{ item.text }}
            </h2>
            <p *ngIf="item.type.startsWith('paragraph')" class="blog-content">
                {{ item.text }}
            </p>

            <a *ngIf="item.link" [href]="item.link" target="_blank" class="blog-link">
                {{item.link}}
            </a>


            <ul *ngIf="item.type === 'list'" class="blog-list">
                <li *ngFor="let listItem of item.items">{{ listItem }}</li>
            </ul>
        </div>


        <div *ngIf="!blog" class="no-blog">
            <p>Blog not found.</p>
        </div>
    </div>


</div>

</div>