/* You can add global styles to this file, and also import other style files */

// @import url("https://fonts.googleapis.com/css2?family=Jost:ital,wght@0,100..900;1,100..900&display=swap");
@import url('https://fonts.googleapis.com/css2?family=Montserrat:ital,wght@0,100..900;1,100..900&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Inter:ital,opsz,wght@0,14..32,100..900;1,14..32,100..900&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Plus+Jakarta+Sans:ital,wght@0,200..800;1,200..800&display=swap');

* {
  font-family: "Montserrat";
  
  --banner-header-font-1:"Inter";
  --banner-header-font-2:"Plus Jakarta Sans";

  --primary-color:#0c0c0c;
 
}
.dropdown-menu{
   min-width: 8rem !important;
}

.form-check-input {
  &:checked {
    background-color: #000 !important;
    border-color: #000 !important;
  }
  &:focus {
    box-shadow: none !important;
    border-color: #d3d3d3 !important;
  }
}

.form-control {
  border-color: #000 !important;
  &::placeholder {
    color: #bdb5b5 !important
      ;
  }
  &:focus {
    box-shadow: none !important;
    border-color: #000 !important;
  }
  &:disabled{
    border-color: #bdb5b5 !important;
    background: #ebe9e9 !important;

  }
}


.cursor-pointer{
  cursor: pointer;
}